/*Universal Code*/
  html {
    font-family: Helvetica;
    font-size: 18px;
  }
   body {
     line-height: 1.4;

   }
   .container {
     max-width: 960px;
     margin: auto;

   }


 /*header*/
 header {
   background-color: cadetblue;
   color: white;
   font-family: Helvetica;
   height: 3rem;
   position: relative;
   top: 1rem;
 }
 img .logo-white {
   margin-left: 2rem;
   margin-right: 1rem;
 }
 nav  {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
